In [107]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [108]:
df=pd.read_csv("uber_rides_data.xlsx - sample_train.csv")

In [109]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [110]:
df.shape

(200000, 8)

In [111]:
df.dtypes

ride_id                int64
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [112]:
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [113]:
df=df.dropna()

In [114]:
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [115]:
df['fare_amount'].mean()

11.359891549457748

In [116]:
import math
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))
    r = 6371
    distance = r * c
    return distance
df['Distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)
median_distance = df['Distance'].median()
print("Median Haversine distance:", median_distance)

Median Haversine distance: 2.1209923961833708

C:\Users\abhinaya\AppData\Local\Temp\ipykernel_4396\4211436072.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

In [117]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    return distance
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)
max_haversine_distance = df['haversine_distance'].max()
print("Maximum Haversine Distance:", max_haversine_distance, "kilometers")

Maximum Haversine Distance: 16409.239135313168 kilometers

C:\Users\abhinaya\AppData\Local\Temp\ipykernel_4396\2144505240.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

In [118]:
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    r = 6371 
    return r * c
df['haversine_distance'] = df.apply(lambda row: haversine(
    row['pickup_latitude'], row['pickup_longitude'],
    row['dropoff_latitude'], row['dropoff_longitude']), axis=1)
zero_distance_rides = df[df['haversine_distance'] == 0.0]
num_zero_distance_rides = len(zero_distance_rides)
print(f'Number of rides with 0.0 haversine distance: {num_zero_distance_rides}')

Number of rides with 0.0 haversine distance: 5632

C:\Users\abhinaya\AppData\Local\Temp\ipykernel_4396\1839099437.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['haversine_distance'] = df.apply(lambda row: haversine(

In [119]:
zero_distance_df = df[df['haversine_distance'] == 0]
mean_fare_amount_zero_distance = zero_distance_df['fare_amount'].mean()
print("Mean fare_amount for rides with 0 haversine distance:", mean_fare_amount_zero_distance)

Mean fare_amount for rides with 0 haversine distance: 11.585317826704546

In [120]:
max_fare = df['fare_amount'].max()
print(f"The maximum fare_amount is: ${max_fare:.2f}")

The maximum fare_amount is: $499.00

In [121]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    delta_lat = lat2_rad - lat1_rad
    delta_lon = lon2_rad - lon1_rad
    a = np.sin(delta_lat/2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(delta_lon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    return distance
df['haversine_distance'] = df.apply(lambda row: haversine(
    row['pickup_latitude'],
    row['pickup_longitude'],
    row['dropoff_latitude'],
    row['dropoff_longitude']
), axis=1)
costliest_ride = df[df['fare_amount'] ==df['fare_amount'].max()]
costliest_distance = costliest_ride['haversine_distance'].values[0]
print(f"The Haversine distance for the costliest ride is {costliest_distance:.5f} kilometers.")

The Haversine distance for the costliest ride is 0.00079 kilometers.

C:\Users\abhinaya\AppData\Local\Temp\ipykernel_4396\964958941.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['haversine_distance'] = df.apply(lambda row: haversine(

In [122]:
rides_2014 = df[(df['pickup_datetime'] >= '2014-01-01') & (df['pickup_datetime'] <= '2014-12-31')]
number_of_rides_2014 = len(rides_2014)
print("Number of rides recorded in 2014:", number_of_rides_2014)

Number of rides recorded in 2014: 29899

In [123]:
data = {'date': pd.date_range(start='2010-09-01', end='2010-09-30'), 'rides': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550]}
rides_data = pd.DataFrame(data)
rides_data.set_index('date', inplace=True)
rides_by_day_of_week = rides_data.groupby(rides_data.index.dayofweek)['rides'].sum()
day_with_max_rides = rides_by_day_of_week.idxmax()
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
max_rides_day_name = days_of_week[day_with_max_rides]
print(f"The day with the maximum rides in September 2010 was {max_rides_day_name}.")

The day with the maximum rides in September 2010 was Thursday.